# Introduction to Scikit-Learn (sklearn)
This notebook demonstrates some of themost useful function of the beautiful sckikit-learn libray

What we're going to cover:

## 0. An end-to-end Scikit-Learn workflow

In [32]:
what_we_are_covering = [
    "0. An end to end Scikit-Learn workflow",
    "1. get the data ready",
    "2. choose the right estimator /algorithm for our problems",
    "3. Fit the model/ algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "6. Save and load a trained model",
    "7. Putting it all together!",
]

In [17]:
#1. Get the data ready

import pandas as pd
import numpy as np
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [18]:
# Create X (features matrix)

X = heart_disease.drop('target', axis=1)

# Create y (labels)

y = heart_disease['target']

In [19]:
# 2. choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

# We'll keep the default hyper parameters

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
# 3. Fit the model to the training data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2)

In [21]:
clf.fit(X_train,y_train);

In [22]:
# make a prediction

y_preds = clf.predict(X_test)

In [23]:
y_preds

array([0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0])

In [24]:
y_test

268    0
209    0
11     1
118    1
192    0
      ..
154    1
18     1
196    0
256    0
276    0
Name: target, Length: 61, dtype: int64

In [25]:
# 4. Evaluate the model on the training data and test data

clf.score(X_train,y_train)

1.0

In [26]:
clf.score(X_test, y_test)

0.8852459016393442

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score


print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.88      0.90      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.89        61
weighted avg       0.89      0.89      0.89        61

In [28]:
confusion_matrix(y_test, y_preds)

array([[26,  4],
       [ 3, 28]])

In [29]:
accuracy_score(y_test,y_preds)

0.8852459016393442

In [29]:
# 5> Improve a model 

# Try different amoutn of n_estimators

np.random.seed(42)

for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test) * 100:2f}% ")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 73.770492%

Trying model with 20 estimators...
Model accuracy on test set: 83.606557%

Trying model with 30 estimators...
Model accuracy on test set: 72.131148%

Trying model with 40 estimators...
Model accuracy on test set: 81.967213%

Trying model with 50 estimators...
Model accuracy on test set: 80.327869%

Trying model with 60 estimators...
Model accuracy on test set: 83.606557%

Trying model with 70 estimators...
Model accuracy on test set: 83.606557%

Trying model with 80 estimators...
Model accuracy on test set: 80.327869%

Trying model with 90 estimators...
Model accuracy on test set: 80.327869%

In [30]:
# 6.  Save a model and load it

import pickle

pickle.dump(clf, open('random_forest_model1.pk','wb'))

In [31]:
load_model = pickle.load(open("random_forest_model1.pk",'rb'))
load_model.score(X_test,y_test)

0.8852459016393442

In [34]:
# Standard imports 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:
    1. Split the data into features and labels (usually ``X`` & `y`)
    2. Filling (also called imputing ) or disregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encoding )

In [35]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [36]:
X = heart_disease.drop('target', axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [37]:
y = heart_disease['target']

In [38]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [39]:
# Split the data into training and test sets

from sklearn.model_selection import train_test_split

X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.2)

In [40]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

### 1.1 Make sure it's all numerical

In [41]:
car_sales =pd.read_csv('car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [42]:
len(car_sales)

1000

In [43]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [45]:
# Split into X/y

X = car_sales.drop("Price", axis=1)

y = car_sales['Price']


# Split into training and test

X_train, X_test, y_test, y_train = train_test_split(X,y,test_size=0.2)

In [46]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(X_train, y_train)
model.score(X_test,y_test)

ValueError: could not convert string to float: 'Nissan'

In [48]:
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', "Colour", 'Doors']
one_hot = OneHotEncoder()

transformer = ColumnTransformer([('one_hot',one_hot,
                                 categorical_features)],
                               remainder='passthrough')
transformed_X = transformer.fit_transform(X)

In [49]:
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [50]:
pd.DataFrame(transformed_X)

       0    1    2    3    4    5    6    7    8    9   10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [53]:
dummies = pd.get_dummies(car_sales[['Make','Colour','Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [55]:
np.random.seed(42)

X_train,X_test, y_train,y_test = train_test_split(transformed_X,
                                                  y,test_size=0.2)

In [59]:
model.fit(X_train,y_train);
model.score(X_test,y_test)

0.32363380860284385

### 1.2 What if there were missing values

1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data all together

In [62]:
# import car sales missing data
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [64]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [67]:
# Create X and y

X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

#### Option 1:  Fill missing data with pandas

In [74]:
car_sales_missing['Doors'].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [75]:
# Fill the "Make" column

car_sales_missing["Make"].fillna("missing",inplace=True)

# Fill the "Colour" column

car_sales_missing['Colour'].fillna('missing', inplace=True)

# Fill the "Odometer (KM)" column

car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), 
                                          inplace=True)

# Fil the "Doors" column

car_sales_missing['Doors'].fillna(4,inplace=True)

In [76]:
# Check out data frame again

car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [78]:
 # Remove rows with misssing price value
    
car_sales_missing.dropna(inplace=True)

In [79]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [80]:
len(car_sales_missing)

950

In [82]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [99]:
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']
X

        Make Colour  Odometer (KM)  Doors
0      Honda  White        35431.0    4.0
1        BMW   Blue       192714.0    5.0
2      Honda  White        84714.0    4.0
3     Toyota  White       154365.0    4.0
4     Nissan   Blue       181577.0    3.0
..       ...    ...            ...    ...
995   Toyota  Black        35820.0    4.0
996  missing  White       155144.0    3.0
997   Nissan   Blue        66604.0    4.0
998    Honda  White       215883.0    4.0
999   Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [119]:

# Convert out data to numbers by turing the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features = ['Make','Colour','Doors']

one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                category_features)],
                               remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X;

ValueError: Input contains NaN

In [120]:
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [96]:
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0,15323.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0,19943.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0,28343.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0,13434.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0,14043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0,32042.0
946,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,155144.0,5716.0
947,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0,31570.0
948,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,215883.0,4001.0
949,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0,12732.0

### Option 2: Fill missing values with Scikit-Learn

In [105]:
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')

car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [106]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [107]:
# Drop the rows with no labels
car_sales_missing.dropna(subset=['Price'], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [108]:
# Split into X & y

X = car_sales_missing.drop('Price',axis=1)

y= car_sales_missing['Price']

In [109]:
# Fill missing values with Sckikit-Learn

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' and numerical values with mean

cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')

door_imputer = SimpleImputer(strategy='constant', fill_value=4)

num_imputer = SimpleImputer(strategy='mean')


# Define columns

cat_features = ['Make','Colour']

door_feature = ['Doors']

num_features = ['Odometer (KM)']

# Create an imputer (something that fills missing data)

imputer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_feature),
    ('num_imputer', num_imputer,num_features)
])


# Transform the data
filled_X = imputer.fit_transform(X)

filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [110]:
car_sales_filled = pd.DataFrame(filled_X, columns=['Make',
                                                   'Colour',
                                                   'Doors',
                                                   'Odometer (KM)'])


car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White     4         35431
1        BMW   Blue     5        192714
2      Honda  White     4         84714
3     Toyota  White     4        154365
4     Nissan   Blue     3        181577
..       ...    ...   ...           ...
945   Toyota  Black     4         35820
946  missing  White     3        155144
947   Nissan   Blue     4         66604
948    Honda  White     4        215883
949   Toyota   Blue     4        248360

[950 rows x 4 columns]

In [ ]:
X = car_sales_filled

In [111]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [114]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features = ['Make','Colour','Doors']

one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                category_features)],
                               remainder='passthrough')

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [116]:

# Now we've got our data as numbers and filled (no missing values)


# Let's fill the model

np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test = train_test_split(transformed_X, y,
                                                  test_size=0.2)


model = RandomForestRegressor()
model.fit(X_train,y_train)

model.score(X_test,y_test)

0.21990196728583944

In [121]:
what_we_are_covering

['0. An end to end Scikit-Learn workflow',
 '1. get the data ready',
 '2. choose the right estimator /algorithm for our problems',
 '3. Fit the model/ algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

## 2.  Choosing the right estimator/ algorithm for our proble

Scikit-Learn uses estimator as another term for machine learning model or algorithm

* Classification - predicting wether a sample is one thing or another
* Regression - Predicting a number

##### Step 1 : Check the SCikit-learn machine learning map

### 2.1 Picking a machine learningmodel for a regression problem

In [123]:
# Import Boston housing dataset
from sklearn.datasets import load_boston

boston = load_boston()

boston;

In [127]:
boston_df = pd.DataFrame(boston['data'], columns=boston['feature_names'])

boston_df['target'] = pd.Series(boston['target'])

boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [128]:
# How man samples?

len(boston_df)

506

In [132]:
# Let's try the Ridge regression model

from sklearn.linear_model import Ridge

# Setup a random seed

np.random.seed(42)

# Create the data

X = boston_df.drop('target', axis=1)
y = boston_df['target']

# Split into train and test

X_train,X_test ,y_train,y_test = train_test_split(X,y,
                                                 test_size=0.2)

# Instantiate Ridge model

model = Ridge()
model.fit(X_train,y_train)

# Check the score of the Ridge model on test data

model.score(X_test,y_test)

0.6662221670168522

How do we improve the score

What if Ridge was not working?

Let's refer back to the map 

https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [138]:
# Let's try the random forest

from sklearn.ensemble import RandomForestRegressor

# setup random seed
np.random.seed()

# Creat the data

X = boston_df.drop('target', axis=1)

y = boston_df['target']

#  Split the data

X_train, X_test , y_train,y_test = train_test_split(X,y,
                                                   test_size=0.2)

# instantiate Random Forest Regressor 
rf = RandomForestRegressor()

rf.fit(X_train,y_train)

# Evaluate the Random Forest Regressor
rf.score(X_test,y_test)

0.8965547894108239

In [135]:
# Check the Ridge model again

model.score(X_test,y_test)

0.6556334951952059

### 2.2 Choosing an estimator for a classification problem

LET'S GO  TO THE MAP
- https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html