In [1]:
import pandas as pd
import numpy as np

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [24]:
# Prepare data

X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

In [9]:
X,y

(     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 0     63    1   3       145   233    1        0      150      0      2.3
 1     37    1   2       130   250    0        1      187      0      3.5
 2     41    0   1       130   204    0        0      172      0      1.4
 3     56    1   1       120   236    0        1      178      0      0.8
 4     57    0   0       120   354    0        1      163      1      0.6
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 298   57    0   0       140   241    0        1      123      1      0.2
 299   45    1   3       110   264    0        1      132      0      1.2
 300   68    1   0       144   193    1        1      141      0      3.4
 301   57    1   0       130   131    0        1      115      1      1.2
 302   57    0   1       130   236    0        0      174      0      0.0

      slope  ca  thal
 0        0   0     1
 1        0   0     2
 2        2   0     2
 3        2   0     2
 4        2   0     2
 ..     ...  ..   ...
 298      1   0     3
 299      1   0     3
 300      1   2     3
 301      1   1     3
 302      1   1     2

 [303 rows x 13 columns],
 0      1
 1      1
 2      1
 3      1
 4      1
       ..
 298    0
 299    0
 300    0
 301    0
 302    0
 Name: target, Length: 303, dtype: int64)

In [38]:
# Chose a model

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)

In [39]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train,y_test = train_test_split(
    X,
    y,
    test_size=0.2)

In [53]:
model.fit(X_train,y_train);

In [54]:
y_preds = model.predict(X_test)

In [55]:
y_preds

array([0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1])

In [56]:
model.score(X_train,y_train)

1.0

In [57]:
model.score(X_test,y_test)

0.8032786885245902

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
# Prepare the data
car_sales = pd.read_csv('car-sales-extended.csv')

X = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [22]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [23]:
y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [24]:
# choose the model

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [25]:
# Convert data into Numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

transform_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()



transformer = ColumnTransformer([('one_hot', one_hot,
                                   transform_features)],
                                 remainder='passthrough')
transformed_X = transformer.fit_transform(X)

In [31]:
# split the data 

np.random.seed(42)
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test =  train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)

In [32]:
# fit the data to the model

model.fit(X_train, y_train);

In [33]:
model.score(X_test,y_test)

0.3235867221569877

In [34]:
model.score(X_train,y_train)

0.891612713353635

# Creating models with missing data

In [45]:
# Filling missing values with scikit-learn


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [40]:
# drop data with no labels


car_sales_missing.dropna(subset=['Price'],inplace=True)

In [41]:
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [43]:
# create X and y values

X = car_sales_missing.drop('Price',axis=1)
y = car_sales_missing['Price']

In [56]:
# impute missing X values

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_features = ['Make','Colour']
door_featrure = ['Doors']
num_features = ['Odometer (KM)']

cat_imputer = SimpleImputer(strategy='constant', 
                            fill_value='missing')
door_imputer = SimpleImputer(strategy='most_frequent')

num_imputer = SimpleImputer(strategy='mean')

transformer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer,door_featrure),
    ('num_imputer', num_imputer,num_features)
])

filled_X = transformer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [57]:
car_sales_filled = pd.DataFrame(filled_X, columns=['Make',
                                           'Colour',
                                           'Doors',
                                           'Odometer (KM)'])

In [58]:
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White     4         35431
1     BMW   Blue     5        192714
2   Honda  White     4         84714
3  Toyota  White     4        154365
4  Nissan   Blue     3        181577

In [59]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [63]:
# Transform category features into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

category_features = ['Make','Colour','Doors']

one_hot =  OneHotEncoder()

cat_transformer = ColumnTransformer([
    ('one_hot', one_hot, category_features)
], remainder='passthrough')


transformed_X = cat_transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [65]:
pd.DataFrame(transformed_X).head()

                                                   0
0    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1    (0, 0)\t1.0\n  (0, 6)\t1.0\n  (0, 13)\t1.0\n...
2    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
3    (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
4    (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...

In [70]:
# Fit transformed data to our model

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

X_train,X_test,y_train,y_test = train_test_split(transformed_X,
                                                 y,
                                                test_size=0.2)


model = RandomForestRegressor()

model.fit(X_train,y_train)
model.score(X_test,y_test)

0.21990196728583944